/**
 * @name BetterWEBM
 * @author Twisty Nado (ErrorOliver had the idea)
 * @version 1.0.0
 * @description Re-adds the Discord WEBM glitch.
 * @source https://gitlab.com/ErrorOliver/betterwebm/-/raw/main/betterwebm.theme.css
 * license CC BY-SA 4.0 Deed
 */

  .loadingOverlay__35a04 {
    aspect-ratio: unset !important;
   
  }
  .imageWrapper__178ee {
     aspect-ratio: unset !important;
  }

